*.*~
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
.*.cfg
bin/
build/
develop-eggs/
downloads/
eggs/
fake-eggs/
parts/
dist/
var/
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
.coverage
htmlcov/
buildout-cache/
src/*
docs/html
include
lib
!src/collective
