language: python

cache:
  pip: true
  directories:
    - buildout-cache/downloads
    - buildout-cache/eggs

python: 2.7

env:
  - TARGET=test
  - TARGET=coverage.sh

install:
  - easy_install --version
  - mkdir -p buildout-cache/{eggs,downloads}
  - sudo apt-get -qq install libfreetype6-dev gettext
  - mkdir -p buildout-cache/{eggs,downloads}
  - bin/pip install -r requirements.txt
  - bin/buildout -c travis.cfg

script:
  - bin/test

after_success:
  - bin/coverage run bin/test
  - pip install coverage
  - python -m coverage.pickle2json
  - pip install coveralls
  - coveralls

notifications:
  email:
      - devs@imio.be
