graft src/collective
graft docs
include *.cfg *.rst *.in
include *.py
include Makefile
recursive-include docs *.GPL
recursive-include docs *.rst
recursive-include docs *.gitkeep
recursive-include docs *.py
exclude buildout.d
exclude buildout.d/*
exclude .installed.cfg
exclude .mr.developer.cfg
exclude *.yml
exclude .coveragerc
global-exclude *.pyc
