[buildout]
extends =
    base.cfg
    sources.cfg


package-min-coverage = 40


parts +=
    createcoverage
    coverage-sh
    rebuild_i18n-sh
    omelette
    test
    robot


eggs +=
    plone.reload
    Products.PDBDebugMode
    Products.DocFinderTab
    Products.ExternalEditor
    aws.zope2zcmldoc
    collective.profiler
    iw.debug
    ipdb


test-eggs +=
    collective.eeafaceted.z3ctable [develop,test]


# =========================
# Develop external packages
# =========================
extensions += mr.developer
sources = sources
always-checkout = force
auto-checkout =


[code-analysis]
directory = src/collective/eeafaceted
flake8-max-complexity = 12


[rebuild_i18n-sh]
recipe = collective.recipe.template
url = https://raw.github.com/collective/buildout.plonetest/master/templates/rebuild_i18n.sh.in
output = ${buildout:directory}/bin/rebuild_i18n.sh
mode = 755


# ===============================================
# Mirrors python namespaces into one handy folder
# ===============================================
[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[test]
recipe = zc.recipe.testrunner
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']
eggs =
    ${buildout:package-name} ${buildout:package-extras}
    ${buildout:test-eggs}


[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework[ride,reload]


[instance]
debug-mode = off
verbose-security = on
